<div class="container container-centered border-light-grey">
	<%= form_for @task, url: '/task' do |form| %>
		<input type="hidden" name="id" value="<%= @task.id %>"/>
		<p>
			<%= form.label :title %>
			<br/>
			<%= form.text_field :title, :autocomplete => :off %>
		</p>

		<p>
			<%= form.label :description %>
			<br/>
			<%= form.text_field :description, :autocomplete => :off %>
		</p>

		<p class='<% if hide_status %>hidden<% end %>'>
			<%= render '/tasks/dropdown', default_status: @task.status %>
		</p>

		<p class='form-select <% if hide_start %>hidden<% end %>'>
			<%= form.label :start %>
			<br/>
			<%= form.datetime_select :start  %>
		</p>

		<p class='form-select'>
			<%= form.label :end %>
			<br/>
			<%= form.datetime_select :end, default: 2.days.from_now  %>
		</p>

		<p class="submit-btn">
			<%= form.submit %>
		</p>

		<p class="hidden"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/></p>
	<% end %>
</div>