<div class="form-container border-light-grey">
	<%= form_for @task, url: '/task' do |form| %>
		<div class="container-centered vertical">
			<input type="hidden" name="id" value="<%= @task.id %>"/>
			
			<%= form.label :title %>
			<%= form.text_field :title, :autocomplete => :off %>
		
			<%= form.label :description %>
			<%= form.text_field :description, :autocomplete => :off %>

			<br/>

			<p class='<% if hide_status %>hidden<% end %> three-quart'>
				<br/>
				<%= render '/tasks/dropdown', default_status: @task.status %>
			</p>

			<p class='form-select <% if hide_start %>hidden<% end %>'>
				<%= form.label :start %>
				<%= form.datetime_select :start  %>
			</p>

			<p class='form-select'>
				<%= form.label :end %>
				<%= form.datetime_select :end, default: 2.days.from_now  %>
			</p>
		</div>

		<p class="submit-btn">
			<%= form.submit %>
		</p>

		<p class="hidden"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/></p>
	<% end %>
</div>