<%= render 'application/header'%>
<br/>

<div class="container container-centered ">
	<%= form_with scope: :user, url: '/user', local: true, :html => {:class => 'border-light-grey spacing-light'}  do |form| %>
		<p>
			<%= form.label :name %>
			<%= form.text_field :name %>
		</p>
		<p>
			<%= form.label :email %>
			<%= form.text_field :email %>
		</p>
		<p>
			<%= form.label :password %>
			<%= form.text_field :password %>
		</p>

		<p>
			<%= form.label :password_confirm %>
			<%= form.text_field :password_confirm %>
		</p>

		<p>
			<%= form.submit %>
		</p>
	<% end %>
</div>