<%= render 'application/header'%>
<br/>

<div class="container container-centered vertical">
	<div class="container-centered">
		<div class="container-centered ">
			<% if @errors %>
				<% @errors.keys.each do |key| %>
					<% @errors[key].each do |e| %>
						<p class="validation-error"><%= key %> <%= e %></p>
					<% end %>
				<% end %>
			<% end %>	
		</div>
	</div>	
	<div class="container-centered three-quart">
		<%= form_with scope: :user, url: '/user', local: true, :html => {:class => 'border-light-grey spacing-light form-container'}  do |form| %>
				<%= form.label :name %>
				<%= form.text_field :name %>
				<%= form.label :email %>
				<%= form.text_field :email %>

				<%= form.label :password %>
				<%= form.password_field :password %>

				<%= form.label :password_confirm %>
				<%= form.password_field :password_confirm %>

				<%= form.submit%>
		<% end %>
	</div>
	<div class="three-quart">
		<br/>
		<a href="/">Back</a>
	</div>
</div>
