<html>
	<body>
		<%= render 'application/header'%>

		<div class="bg-main height-full">
			<div class="container">
				<br/>
				<div class='header-text border-light-grey task-bar light-purple-text'>
					<a href="/dash/new" class="left remove-link-decoration text-light">New Task</a>
					<p class='text-light'>Tasks for <em><%= @user.name %></em></p>
					<a href="/logout" class="right remove-link-decoration text-light">Log Out</a>
					<p href="#" onclick="toggleSettingsMenu()" class="right remove-link-decoration text-light link" onmouseover="">Settings</p>
				</div>
				<table class="table bg-light-grey">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Status</th>
						<th>Time Left</th>
						<th>Actions</th>
					</tr>
					<tr></tr>

					<% @tasks.each do |task| %>
						<% 
							_task_stat = task.status.to_i; 
							_taskId = task.id; 
						%>

						<tr class='dash-table-row'>
							<td><%= task.title %></td>
							<td><%= task.description %></td>
							<td class="text-centered task-status <%= ApplicationController.class_for_status(task.status.to_i)%>">
								<%= ApplicationController.int_to_status(task.status.to_i) %>
							</td>
							<td class='text-centered'><%= ApplicationController.build_time_until_string(task.end) %></td>
							<td class='text-centered'>
								<a href="/dash/tasks/<%= _taskId %>/edit">Edit</a>
								<a href="/tasks/<%= _taskId %>" data-method="delete">Delete</a>
							</td>
						</tr>
					<% end %>
				</table>
				<p class="right"><a href="/dash">Refresh</a></p>
			</div>
		</div>
		
		<div id = "settings-menu" class='popup-menu hidden'>
			<div>
				<div class="">
					<h2 class="spacing-left inline text-centered text-centered-vertical">Settings</h2>
					<p class="spacing-right right inline text-centered-vertical red-text" onClick="toggleSettingsMenu()">X</p>
				</div>
				<div class="spacing-all">
					<hr/>

					<p>Colour Scheme: TODO</p>
					<p>Edit Profile</p>
				</div>
			</div>
		</div>
		</div>

		<script>
			var toggleSettingsMenu = function() {
				var menuElement = document.getElementById("settings-menu");

				menuElement.classList.toggle("hidden");
			}
		</script>
	</body>
</html>