<%= render 'application/header'%>

<div class="container container-centered vertical three-quart">
	<div class="container container-centered bg-main">
		<div class="container-centered full">
			<br/>
			<div class='header-text border-light-grey task-bar light-purple-text' id="dashHeader">
				<a href="/task/new" class="left remove-link-decoration text-light">New Task</a>
					<p class='text-light dash-header-name'><span id="dashHeaderName">Tasks for</span><a href="/user" class="remove-link-decoration"><em id="dashHeaderNameLink"><%= @user.name %></em></a></p>	
					<a href="/logout" class="right remove-link-decoration text-light">Log Out</a>
					<p href="#" onclick="toggleSettingsMenu()" class="right remove-link-decoration text-light link" onmouseover="">Settings</p>
				</div>
				<table class="table bg-light-grey">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Status</th>
						<th>Time Left</th>
						<th>Actions</th>
					</tr>
					<tr></tr>

					<% @tasks.each do |task| %>
						<% 
							_task_stat = task.status.to_i; 
							_taskId = task.id; 
						%>

						<tr class='dash-table-row'>
							<td><a href="/task/<%= _taskId %>"><%= task.title %></a></td>
							<td><%= task.description %></td>
							<td class="text-centered task-status <%= ApplicationController.class_for_status(task.status.to_i)%>">
								<%= ApplicationController.int_to_status(task.status.to_i) %>
							</td>
							<td class='text-centered'><%= ApplicationController.build_time_until_string(task) %></td>
							<td class='text-centered'>
								<a href="/task/<%= _taskId %>/edit">Edit</a>
								<a href="/task/<%= _taskId %>" data-method="delete">Delete</a>
							</td>
						</tr>
					<% end %>
				</table>
				<p class="right"><a href="/dash">Refresh</a></p>
			</div>
		</div>
			
		<div id="settings-menu" class='popup-menu hidden'>
			<div>
				<div class="">
					<h2 class="spacing-left inline text-centered text-centered-vertical">Settings</h2>
					<p class="spacing-right right inline text-centered-vertical red-text" onClick="toggleSettingsMenu()">X</p>
				</div>
				<div class="spacing-all">
					<hr/>

					<p>Colour Scheme: TODO</p>
					<p><a href="/user/edit" class="light-purple-text">Edit Profile</a></p>
				</div>
			</div>
		</div>
	</div>

	<script>
		var toggleSettingsMenu = function() {
			var menuElement = document.getElementById("settings-menu");

			menuElement.classList.toggle("hidden");
		}

		window.onresize = function(event) {
			var dashHeader = document.getElementById("dashHeaderName");
			var dashHeaderLink = document.getElementById("dashHeaderNameLink");

			//onresize persists across multiple pages
			if (dashHeader && dashHeaderLink) {
				if (window.innerWidth < 768) {	
					dashHeader.classList.add("hidden");
					dashHeaderLink.classList.add("hidden");
				} else {
					dashHeader.classList.remove("hidden");
					dashHeaderLink.classList.remove("hidden");
				}
			}
		};
</script>
	